{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}


{% block listboard_table_header %}

    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Identifier</th>
    <th>Subject</th>
    <th>Consented</th>
    <th>User</th>
    <!-- end results header -->
{% endblock listboard_table_header %}

{% block listboard_table_button_column %}
	{% comment %}

    result: model_wrapper, usually the SubjectConsentModelWrapper
        Required attributes:
            subject_identifier
            version: (consent version)
            href: (model_wrapper.href)

	{% endcomment %}
	<td style="white-space: nowrap">
    <div class="btn-group">
    <a title="Edit subject's consent form" role="button" 
       class="btn btn-default btn-sm"
           href="{{ result.href }}">
        <i class="fa fa-pencil-alt fa-sm"></i>
    </a>

{% endblock listboard_table_button_column %}

{% block listboard_table_columns %}
    <td>{{ result.subject_identifier }}
    </td>
    <td>
       {{ result.first_name }} {{ result.initials }}
    </td>
    <td>{{ result.object.consent_datetime|date:"SHORT_DATE_FORMAT" }}</td>
    <td nowrap>{{ result.user_created }}</td>


{% endblock listboard_table_columns %}